@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.landing {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .imageContain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    color: #f0dac4;
    font-family: 'Inria Serif', serif;
    font-size: 4em;
    line-height: 1.4;
    .subTittle {
      margin-top: 1rem;
      font-family: 'Fira Code', monospace;
      font-size: 1.5rem;
    }
  }
  // .scrolldownarrow {
  //   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }
  img {
    object-fit: 'contain' !important;
  }
  .arrow {
    width: 60px;
    path {
      stroke: #f0dac4;
      fill: transparent;
      stroke-width: 3px;
    }
  }

  .scrolldownlink {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    left: 50%;
    bottom: 10px;
    color: #f0dac4;
    text-align: center;
    font-size: 70px;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
    /*animated scroll arrow animation*/
    @-webkit-keyframes fade_move_down {
      0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
      }
    }
    @-moz-keyframes fade_move_down {
      0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
      }
    }
    @keyframes fade_move_down {
      0% {
        transform: translate(0, -20px);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: translate(0, 20px);
        opacity: 0;
      }
    }
  }
}
