@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Single+Day&display=swap');

/* font-family: 'Fira Code', monospace;
font-family: 'Inria Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Single Day', cursive; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #4e7194ca;
  --background-end-rgb: #4e7194ca;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: #4e7194ca;
    --background-end-rgb: #4e7194ca;
  }
} */

body {
  color: #f0dac4;
  background: #4e7194ca;
  font-family: 'Nunito', sans-serif;
}
