@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #4e7194ca;
  --background-end-rgb: #4e7194ca;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: #4e7194ca;
    --background-end-rgb: #4e7194ca;
  }
} */

body {
  color: #f0dac4;
  background: #4e7194ca;
}
